.sidebar-menu-container {
  height: 100%;
  background-color: #003E82;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  background-color: inherit;
  border-right: none;
  color: #FFFFFFB2;
}

.ant-menu-title-content,
.ant-menu-item a {
  color: #FFFFFFB2;
}

.ant-menu-sub.ant-menu-inline {
  background-color: inherit;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child .ant-menu-title-content {
  background-color: #DEE2E640;
}

.ant-menu-item.ant-menu-item-only-child {
  border-left: 1px solid #000;
}

.ant-menu-inline.ant-menu-item-selected:after {
  display: none;
}