.wrap-search {
  padding: 0 20px;
  text-align: center;
  margin: 10px 0 20px 0;
  height: 32px;
}

.ant-input-affix-wrapper {
  border: none;
  height: 100%;
}

.ant-input-affix-wrapper,
.ant-input {
  background-color: #37669A;
}

.icon {
  color: #FFFFFF66;
  font-size: 12px;
}

.search-icon {
  background-color: #FFFFFF66;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF66;
  border-radius: 2px;
}